nav {
  display: flex;
  align-items: center;
}

.nav__link {
  margin-left: 2rem;

  font-size: 0.93rem;
  color: #2b2a2c;
  text-transform: uppercase;
  font-family: "Montserrat 700", sans-serif;

  border: 2px solid transparent;
  border-radius: 18.5px;

  position: relative;
}

.nav__link:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #2b2a2c;

  position: absolute;

  bottom: -5px;
  left: 0;
  z-index: 1;

  transform: scale(0);

  transition: all 0.3s;
}

.nav__link:hover:not(.nav__link--btn)::after {
  transform: scale(1);
}

.nav__link--btn {
  padding: 0.66rem 2rem;
  border: 2px solid #2b2a2c;

  transition: 0.3s all;
}

.nav__link--btn:hover {
  color: #fff;
  background-color: #2b2a2c;
}
